<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VaultAppDBContext" connectionString="metadata=res://*/DAL.VaultDataModel.csdl|res://*/DAL.VaultDataModel.ssdl|res://*/DAL.VaultDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=webdev2.kennesaw.edu;initial catalog=qahmed1;persist security info=True;user id=qahmed1;password=kellyqazi;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>